<%- include('header.ejs') %>
<div class="row">
	<div class="col-sm-6">
		<div class="container">
			<h3>Questionnaire List</h3><br>
			<ul class="list-group">
			  <% qlist.forEach(function(qtemplate) { %>

			  <li class="list-group-item">
				<form action="/updateTemplate" method="POST">
					<h4><%=qtemplate.disease%></h4>
					<p><%=qtemplate.description%></p>
					<input type="hidden" id="questionnaireId" name="questionnaireId" value=<%=qtemplate.id%>>
					<% 	qtemplate.questions.forEach(function(question) { %>
						<textarea rows="3" id="questions" name="questions"><%=question%></textarea>
					<% }) %>
					<br>
					<button id="update" name="update" class="btn btn-primary" value="true" type="submit">Update</button>
					<button id="delete" name="delete" class="btn btn-danger" value="true" type="submit">Delete</button>
				</form>
			  </li>
			  <% }) %>
			</ul>
		</div>
	</div>
	
	<div class="col-sm-6">
		<form action="/add" method="POST">
			<div class="container mt-3">
			  <h4>Add New Questionnaire</h4><br>
				<input id="disease" name="disease" type="text" class="form-control" placeholder="Disease condition"></input> <br>
				<input id="description" name="description" class="form-control" type="text" placeholder="Description"></input> <br>
				
				<input id="question1" name="question1" class="form-control" type="text" placeholder="Question-1"></input><br>
				<input id="question2" name="question2" class="form-control" type="text" placeholder="Question-2"></input><br>
				<input id="question3" name="question3" class="form-control" type="text" placeholder="Question-3"></input><br>
				
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Add Questionnaire</button>
				</div>
			</div>
		</form>
	</div>
</div>
<%- include('footer.ejs') %>